{% extends 'base.html.twig' %}

{% block libelle %} {{produit.libelle}} {% endblock %}
{% block libelle %} {{produit.categorie}} {% endblock %}
{% block libelle %} {{produit.prix}} {% endblock %}
{% block libelle %} {{produit.remise}} {% endblock %}
{% block libelle %} {{produit.datefin}} {% endblock %}

{% block description %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> {{produit.libelle}} </h1>
        </div>
    </div>
    
    <div class="row">
        <p >
            {{produit.description|nl2br}}
        </p>
    </div>


{% endblock %}

{% block stylesheets %}
{% endblock %}
